<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="random"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="xobotyi/basen tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <!-- 替换 filter 为 coverage 配置 -->
    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>

    <!-- PHP 配置 -->
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
    </php>
</phpunit>